@media (max-width: 1200px) {
    .container {
        width: 95%;
    }
}
@media (max-width: 800px) {
    .container {
        width: 90%;
    }
    .myform {
        flex-direction: column;
    }
    .right-text {
        width: 100%;
    }
    input[type="text"],
    input[type="email"],
    input[type="submit"] {
        width: 100%;
    }
    .myflex {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}
